
@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Index</h2>


<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="#"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i>View List</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-table"></i>Generate Report</a>
        </li>
    </ul>
</div>


<div class="button">
    <button type="button" onclick="location.href='@Url.Action("Report", "Accountant")'">Generate Report</button>
    <button type="button" onclick="location.href='@Url.Action("ViewList", "Accountant")'">View List</button>
</div>