
@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section NavBar{

    <li class="active">
        <a href="@Url.Action("Index", "Accountant")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>

    
    <li>
    <a href="@Url.Action("Index", "Reports")"><i class="fa fa-fw fa-print"></i> Generate a Report</a>
    </li>


}

<div class="row">
    <div class="col-lg-8">
        <!--
        <div class="well">
            <a class="btn btn-primary" href='@Url.Action("Index", "Reports")'>Generate a Report</a>
        </div>
        -->

        <div class="panel panel-default">
            <div class="panel-heading">Site Engineers</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>District</th>
                                <th>Cost</th>
                                <th>Labour Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Site Engineer</td>
                                <td>Henry Saal</td>
                                <td>Rural Indonesia</td>
                                <td>$8,000.00</td>
                                <td>42 Hours</td>
                            </tr>
                            <tr>
                                <td>Site Engineer</td>
                                <td>Deinyon Davies</td>
                                <td>Urban Indonesia</td>
                                <td>$4,000.00</td>
                                <td>84 Hours</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Managers</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>District</th>
                                <th>Cost</th>
                                <th>Labour Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Manager</td>
                                <td>Daum Park</td>
                                <td>Rural Indonesia</td>
                                <td>$8,000.00</td>
                                <td>42 Hours</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>