
@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "List Site Engineers and Managers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Report Details</h2>

<body>




</body>
