
@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Generate Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Report Details</h2>

@section NavBar{

    <li class="active">
        <a href="@Url.Action("Index", "Accountant")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>


    <li>
        <a href="@Url.Action("Index", "Reports")"><i class="fa fa-fw fa-print"></i> Generate a Report</a>
    </li>


}

@using (Html.BeginForm())
{







}
