
@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Index</h2>

<div class="button">
    <button type="button" onclick="location.href='@Url.Action("ViewProposed", "Interventions")'">View Proposed Interventions</button>
    <button type="button" onclick="location.href='@Url.Action("ViewApproved", "Interventions")'">View Approved Interventions</button>
</div>