
@{
    ViewBag.Title = ViewData["Title"];
    ViewBag.SubTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section NavBar{

    <li class="active">
        <a href="@Url.Action("Index", "Manager")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>


    <li>
        <a href="@Url.Action("ViewProposed", "Interventions")"><i class="fa fa-fw fa-print"></i> Proposed Interventions</a>
    </li>

    <li>
        <a href="@Url.Action("ViewApproved", "Interventions")"><i class="fa fa-fw fa-print"></i> Approved Interventions</a>
    </li>


}

<h2>Index</h2>

